<div th:fragment="header">

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

        <h5 class="my-0 mr-md-auto font-weight-normal">My Remi</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class=" py-2 text-dark" href="/static">Main</a>
            <a class=" py-2 text-dark" href="/list">All remi</a>
            <a class=" py-2 text-dark" href="/remi/add">Add remi</a> <!--зробили силку на додавання статі -->
            <a class=" py-2 text-dark" href="/about">About</a> <!-- /about силка на сторінку -->
        </nav>
    </div>

</div>